img {
    display: block;
    max-width: 100%;
    height: auto;
  }

#films li {
    cursor: pointer;
    padding: 1rem;
}

body {
    background-color: #08113b;
    color: #ffffff;
    padding: 3rem;
}

#movieDetails {
    padding: 1rem;
    border-radius: 20px;
    
}
